.alert {
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
}

.card .alert {
    margin: 0 -20px;
}

.alert.default {
    background: $white;
    border-top: 1px solid $white-border-color;
    border-bottom: 1px solid $white-border-color;
}

.alert.success {
    background: $green;
}

.alert.warn {
    background: $orange;
}

.alert.primary {
    background: $blue;
}

.alert.danger {
    background: $red;
}

.alert.success,
.alert.warn,
.alert.primary,
.alert.danger {
    color: $white;
}