.alert {
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex-direction: row;
    justify-content: space-between;
    min-height: 60px;
}

.card .alert {
    margin: 0 -20px;
}

.card > .alert:first-child {
    margin-top: -20px;
}

.card > .alert:last-child {
    margin-bottom: -20px;
}

.alert.default {
    background: $white;
    border-top: 1px solid $white-border-color;
    border-bottom: 1px solid $white-border-color;
}

.alert.success {
    background: $green;
}

.alert.warn {
    background: $orange;
}

.alert.primary {
    background: $blue;
}

.alert.danger {
    background: $red;
}

.alert.success,
.alert.warn,
.alert.primary,
.alert.danger {
    color: $white;
}

.alert.success a,
.alert.warn a,
.alert.primary a,
.alert.danger a {
    color: $very-white;
    font-weight: 500;
}

.alert.success a:hover,
.alert.warn a:hover,
.alert.primary a:hover,
.alert.danger a:hover {
    color: $darker-white;
    color: rgba($color: #fff, $alpha: 0.7);
}