pre code {
    display: flex;
    padding: 20px;
    background: $almost-white;
    color: $mid-gray;
    border: $dark-white 1px solid;
    border-radius: $border-radius;
    font-size: inherit;
    overflow-x: auto;
    font-size: $body-font-size;
}

.panel > pre {
    padding: 0 20px;
    width: 100%;
}

code.dark {
    background: #222324;
    color: #ccc;
    border: 1px solid #333435;
}