
$input-font-size: 14px;
$btn-lg-font-size: 16px;

$default-background: $white;
$default-background-hover: $white-border-color;

$success-background: $green;
$success-background-hover: $dark-green;

$primary-background: $blue;
$primary-background-hover: $dark-blue;

$warn-background: $dark-orange;
$warn-background-hover: $darker-orange;

$danger-background: $red;
$danger-background-hover: $dark-red;

form .input-group {
    margin: 10px 0;
    display: block;
}

.input-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 4px;
}

input,
textarea,
select {
    padding: 6px 12px;
    border: 1px solid #ccc;
    min-height: 40px;
    border-radius: $border-radius;
    font-size: $input-font-size;
    transition: box-shadow 0.3s ease, border 0.2s ease;
}

input:disabled,
textarea:disabled,
select:disabled {
    background: $dark-white;
}

input:focus {
    outline: none;
    border: 1px solid $input-border-focus-color;
    box-shadow: 0px 0px 2px 0px $light-blue;
}

.btn {
    display: inline-block;
    padding: 9px 12px;
    min-height: 40px;
    height: 40px;
    border-radius: $border-radius;
    border: 1px solid rgba(0,0,0,0.1);
    transition: background 0.2s ease, border 0.2s ease;
    font-size: $input-font-size;
    text-decoration: none;
    vertical-align: middle;
    line-height: 20px;
}

.btn-lg {
    font-size: $btn-lg-font-size;
    min-height: 48px;
    padding: 13px 16px;
}

.btn:hover {
    cursor: pointer;
}

// button colors

.btn.btn-default,
a.btn-default {
    background: $default-background;
    color: $black;
}

.btn.btn-default:hover {
    background: $default-background-hover;
}

.btn.btn-success,
.btn.btn-primary,
.btn.btn-warn,
.btn.btn-danger,
.btn.btn-success-ghost,
.btn.btn-primary-ghost,
.btn.btn-warn-ghost,
.btn.btn-danger-ghost, {
    color: $white;
}

.btn.btn-success {
    background: $success-background;
}
.btn.btn-success:hover {
    background: $success-background-hover;
}

.btn.btn-primary {
    background: $primary-background;
}
.btn.btn-primary:hover {
    background: $primary-background-hover;
}

.btn.btn-warn {
    background: $warn-background;
}
.btn.btn-warn:hover {
    background: $warn-background-hover;
}

.btn.btn-danger {
    background: $danger-background;
}
.btn.btn-danger:hover {
    background: $danger-background-hover;
}

.btn-link {
    border: none;
    background: none;
}

.btn-link {
    color: $blue;
    transition: color 0.3s ease;
    padding: 0;
    min-height: inherit;
}

.btn-link:hover {
    color: $dark-blue;
}

// ghost button

// .btn.btn-default-ghost {
//     background: none;
//     border: 2px solid $default-background;
// }

// .btn.btn-default-ghost:hover {
//     border: 2px solid $darker-white;
// }

.btn.btn-success-ghost {
    background: none;
    border: 2px solid $success-background;
}

.btn.btn-success-ghost:hover {
    border: 2px solid $success-background-hover;
}

.btn.btn-primary-ghost {
    background: none;
    border: 2px solid $primary-background;
}

.btn.btn-primary-ghost:hover {
    border: 2px solid $primary-background-hover;
}

.btn.btn-warn-ghost {
    background: none;
    border: 2px solid $warn-background;
}

.btn.btn-warn-ghost:hover {
    border: 2px solid $warn-background-hover;
}

.btn.btn-danger-ghost {
    background: none;
    border: 2px solid $danger-background;
}

.btn.btn-danger-ghost:hover {
    border: 2px solid $danger-background-hover;
}


.btn:disabled {
    cursor: not-allowed;
    background: $dark-white;
    color: $gray;
}

.btn:disabled:hover {
    background: $dark-white;
    color: $gray;
}