.h-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.h-row div {
    display: flex;
}

.h-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.h-column.center,
.h-row.center {
    align-items: center;
}

.h-column .center {
    align-self: center;
}

.h-row div {
    padding: 0 15px;
}

div.col-xs-2 {
    flex-basis: 50%;
}

div.col-xs-3 {
    flex-basis: 33%;
}

div.col-xs-4 {
    flex-basis: 25%;
}

@media(min-width: $breakpoint-small) {
    div.col-sm-2 {
        flex-basis: 50%;
    }

    div.col-sm-3 {
        flex-basis: 33%;
    }
    
    div.col-sm-4 {
        flex-basis: 25%;
    }
}

@media(min-width: $breakpoint-medium) {
    div.col-md-2 {
        flex-basis: 50%;
    }

    div.col-md-3 {
        flex-basis: 33%;
    }
    
    div.col-md-4 {
        flex-basis: 25%;
    }
}

@media(min-width: $breakpoint-large) {
    div.col-lg-2 {
        flex-basis: 50%;
    }

    div.col-lg-3 {
        flex-basis: 33%;
    }
    
    div.col-lg-4 {
        flex-basis: 25%;
    }
}

@media(min-width: $breakpoint-large) {
    div.col-xl-2 {
        flex-basis: 50%;
    }

    div.col-xl-3 {
        flex-basis: 33%;
    }
    
    div.col-xl-4 {
        flex-basis: 25%;
    }
}