.panel {
    width: 100%;
    min-height: 180px;
    display: flex;
    height: auto;
    padding: 20px 0;
    justify-content: center;
}

.panel.hero {
    min-height: 660px;
    flex-direction: column;
    font-size: 1.2em;
}

.panel h1,
.panel h2,
.panel h3, {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel.hero h1 {
    font-size: 3.6em;
}

.panel.hero h2 {
    font-size: 2.6em;
}

.panel.hero h3 {
    font-size: 1.8em;
}

.panel.lg {
    min-height: 440px;
    font-size: 1.2em;
    flex-direction: column;
}

.panel.lg h1 {
    font-size: 2.4em;
}

.panel.lg h2 {
    font-size: 1.8em;
}

.panel.lg h3 {
    font-size: 1.5em;
}

.panel.brand {
    background: $brand-color;
    color: $white;
}

.panel.dark {
    background: $almost-black;
    color: $light-white;
}

.panel.default {
    background: $dark-white;
}

.panel.light {
    background: $white;
}

.panel.hero .container {
    padding: 0 20px;
}