@media (max-width: $breakpoint-xs) {
    .hide-xs {
        display: none;
    }
}

@media (min-width: $breakpoint-xs) and (max-width: $breakpoint-small) {
    .hide-sm {
        display: none;
    }
}

@media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
    .hide-md {
        display: none;
    }
}

@media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
    .hide-lg {
        display: none;
    }
}

@media (min-width: $breakpoint-large) {
    .hide-xl {
        display: none;
    }
}

@media (min-width: ($breakpoint-xs + 1)) {
    .show-xs {
        display: none;
    }
}
